body{
  background-color: black;
}

#home{
  border-style: solid;
  background-color: aqua;
  width: 100%;
  height: 100%;
}

#buttons{
  margin: auto;
  width: fit-content;
  justify-content: center;
}

.navitem{
  border-style: dotted;
  padding: 10px;
  display: inline-flex;
  margin: 20px;
}

.text{
  text-align: center;
}
